##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

[Unit]
Description=Glances
After=network.target

[Service]
ExecStart=glances -w -t {{ install_glances__refresh_time }} -p {{ install_glances__port }}
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
